.type {
    background-color: #00bebc;
}

.sets{
    background-color: #fdd302;
}

.reps{
    background-color: #FCAC06;
}


.weight{
    background-color: #da364b;
}

.exercise-button {
    height: 100%;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise-container {
    display: flex;
    gap: 5px;
    height: 100%;
}