.groups-container {
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.group-list-title {
    font-size: 35px;
    border-bottom: 3px solid #00bebc;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.all-groups-container, .my-groups-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 20px;
}