.group-container{
    border: 3px solid black;
    border-radius: 45px;
    margin: 2% 15%;
    padding: 2% 20%;
    /* background-color: #00bebc; */
    text-align: center;
}

.group-leader-button{
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}

.group-name-button{
    margin-bottom: 5%;
    background-color: aquamarine;
    color: black;
}