.reg {
    margin-top: 10px;
}

#login {
    background-color: #fdd302;
    color: #f9f9f9;
    font: bolder;
    font-size: 30px;
}

#login:hover {
    background-color:#f9f9f9;
    color: #242424;
    font: bolder;
    font-size: 30px;
}

#regis {
    background-color: #00bebc;
    color: #f9f9f9;
    font: bolder;
    font-size: 30px;
}

#regis:hover {
    background-color: #f9f9f9;
    color: #242424;
    font: bolder;
    font-size: 30px;
}

.Info {
    text-align: center;
    color: #f9f9f9;
    font-size: 18px;
}

.title {
    font: bold;
    color: #da364b;
    font-size: 100px;
    text-decoration: underline;
    text-decoration-color: #00bebc;
    margin-top: 0;
}

img {
    
    height: 400px;
}

.LandingPage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10%;
}

.right-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.landing-page-button-container {
    width: 100%;
}

.landing-page-button {
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
}

.landing-page-button-container {
    width: 100%;
}

.landing-page-button {
    width: 100%;
}