#login {
    background-color: #fdd302;
    color: #f9f9f9;
    height: 100px;
    width: 400px;
    font: bolder;
    font-size: 30px;
}

#login:hover {
    background-color:#f9f9f9;
    color: #242424;
    height: 100px;
    width: 400px;
    font: bolder;
    font-size: 30px;
}

#regis {
    background-color: #00bebc;
    color: #f9f9f9;
    height: 100px;
    width: 400px;
    font: bolder;
    font-size: 30px;
}

#regis:hover {
    background-color: #f9f9f9;
    color: #242424;
    height: 100px;
    width: 400px;
    font: bolder;
    font-size: 30px;
}

.Info {
    color: #f9f9f9;
    width: 400px;
    margin-left: 25%;
}

.title {
    font: bold;
    color: #da364b;
    font-size: 100px;
    text-decoration: underline;
    text-decoration-color: #00bebc;
    margin: 0;
}

img {
    height: 600px;
}

.left{
    display: inline;
    margin: 0;
}

.rights {
    margin-left: 0;
    display: flex;
}

.buttons{
    display: flex;
}

.LandingPage {
    display: flex;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

