
.Login{
    margin-inline-start: 640px;
    margin-bottom: 500px;
}

.loginLabel {
    font-size: 40px;
    margin-left: 75px;
}

label {
    font-size: 20px;
    margin-right:20px;
}

.email {
    margin-left: 40px;
}

.submitButton {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left:75px;
    background-color: #00bebc;
}   

.submitButton:hover {
    width: 100px;
    height: 40px;
    background-color: #fdd302;
}

