.logworkout-container{
    margin-top: 2%;
    height: 100vh;
}
input, label{
    font-size: 25px;
    margin-left: 1%;
    padding-left: 1%;
    margin-top: 2%;
}

input{
    margin-left: 1%;
    padding-left: 1%;
    margin-top: 2%;
    border-radius: 50px;
}

.exercise{
    background-color: #00bebc;
    text-align: center;
    border-radius: 50px;
}

.exercise h2 {
    
}

.selction {

}

#prev {
    margin-right: 100px;
}

#next {
    margin-left: 100px;
}

#date {
    font-size: 30px;
    font-weight: 600;
}

.points {
    background-color: blueviolet;
    width: 200px;
    height: 50px;
}

ul {
    list-style-type: none;
    padding: 0;

}

li {
    display: inline;
}