.logger{
    min-height: 1000px;
    min-width: none;
    align-items: center;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logworkout-container{
    margin-top: 2%;
    height: 100vh;
}

input, label{
    font-size: 25px;
    margin-left: 1%;
    padding-left: 1%;
    margin-top: 2%;
}

input{
    margin-left: 1%;
    padding-left: 1%;
    margin-top: 2%;
    border-radius: 50px;
}


#prev {
    margin-right: 100px;
}

#next {
    margin-left: 100px;
}

.selction {

}

#prev {
    margin-right: 100px;
}

#next {
    margin-left: 100px;
}

#date {
    font-size: 30px;
    font-weight: 600;
}

.points {
    background-color: blueviolet;
    width: 200px;
    height: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#date {
    font-size: 30px;
    font-weight: 600;
}

.points {
    background-color: blueviolet;
    width: 200px;
    height: 50px;
}

.sub {
    margin-top: 5px;
    height: 50px;
    width: 50px;
}

.sub:hover {
    background-color: #da364b;
    height: 50px;
    width: 50px;
}
