:root{
    display: flex;
}

.navbar-container{
    position: sticky;
    top: 10px;
    left: 0;
    max-width: 100%;
    border-radius: 50px;
    z-index: 1;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.logo-button{
    height: 40px;
    width: 40px;
    float: left !important;
    border-radius: 50px !important;
    overflow: hidden !important;
}

.logo-button > img{
    object-fit: scale-down;
    border-radius: 50px !important;
    transform: translate(-25px, -15px);
    height: 50px;
    width: 50px;
}

.navbar-buttons-container:hover{
    opacity: 1.0;
    background-color: #353535;
    z-index: 2;
}

.navbar-buttons-container{
    border-radius: 50px;
    opacity: 0.4;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 0 1.5%;
}

button > a{
    color: white;
}

.navbar-button {
    height: min-content;
}
