:root{
    width: 94vw;
}

.profile-container{
    display: flex;
    text-align: center;
    border-radius: 50px;
    background-color: transparent;
    height: fit-content;
    color: black;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

.profile-container > div{
    border-radius: 50px;
    border: 2.5px solid #f7f7f7;
    background-color: #8970a2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-information{

}

.rank-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.profile-information{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-container{
    display: flex;
    width: 100;
}

.current-streak-container, .current-xp-level-container, .current-random-container{
    width: 33%;
    border: 2.5px solid #f7f7f7;
    border-radius: 50px;
    margin: 1%;
    background-color: #8970a2;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2%;
}

.current-streak-container > img{
    width: 200px;
    height: 200px;
    margin: auto;
    animation: colorChange 3s infinite;
}


#profilePic {
    width: 150px;
    height: 175px;
}

#logo_big{
    border-radius: 50px;
    width: 350px;
    height: 350px;
    margin: auto;
}

.main-profile-container {
    width: 90vw;
}

.profile-info-points {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}