.Regis{
    text-align: center;
    margin: auto;
    height: 100vh;
    width: 90vw;
}
.regisLabel {
    font-size: 40px;
}

.emailLabel {
    padding-right: 260px;
}

.passLabel {
    padding-right: 225px;
}

.firstLabel {
    padding-right: 225px;
}

.lastLabel {
    padding-right: 225px;
}

#lastName {
    width: 300px;
    height: 20px;
}

#firstName {
    width: 300px;
    height: 20px;
}

#email {
    width: 300px;
    height: 20px;
}

#password {
    width: 300px;
    height: 20px;
}

.submitButton {
    width: 100px;
    height: 40px;
    background-color: #00bebc;
}   

.submitButton:hover {
    width: 100px;
    height: 40px;
    background-color: #fdd302;
}

